<header
  *ngIf="user"
  class="fixed flex justify-center items-center bg-transparent z-10 bg-opacity-80 border-b-2 border-cyan-50 text-cyan-50 font-medium backdrop-blur-sm top-0 left-0 right-0 h-12 pr-2 pl-2"
>
  <div class="flex flex-1 items-center justify-start">
    <a routerLink="" class="hover:text-sky-300 text-3xl">LinkUp</a>
  </div>
  <div class="flex-1 flex items-center justify-center gap-2">
    <a
      class="cursor-pointer hover:text-sky-300 flex items-center"
      routerLink=""
      routerLinkActive="text-sky-400"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>
    </a>
    <a
      class="cursor-pointer hover:text-sky-300 flex items-center"
      routerLink="users"
      routerLinkActive="text-sky-400"
    >
      <mat-icon>groups</mat-icon>
    </a>
  </div>
  <div class="flex-1 flex justify-end flex-row gap-3">
    <a class="hover:text-sky-300 cursor-pointer" (click)="logout()">
      Kijelentkezés
    </a>
  </div>
</header>

