
<header *ngIf="user" class="fixed flex justify-center items-center bg-transparent z-10 bg-opacity-80 border-b-2 border-cyan-50 text-cyan-50 font-medium backdrop-blur-sm top-0 left-0 right-0 h-12 pr-2 pl-2" >
  <div class="flex flex-1 items-center justify-start">
    <a routerLink="" class="hover:text-sky-300">LinkUp</a>
  </div>
  <a class="flex-1 flex items-center justify-center gap-2 cursor-pointer hover:text-sky-300" routerLink="" routerLinkActive="text-sky-400" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon >home</mat-icon>
    <span>Kezdőlap</span>
  </a>
  <div class="flex-1 flex justify-end flex-row gap-3">
      <!--<a routerLink="newpost" class="hover:text-sky-300" routerLinkActive="text-sky-400">Új bejegyzés</a>
      <a class="hover:text-sky-300" routerLinkActive="text-sky-400">Felhasználói fiók</a>-->
      <a class="hover:text-sky-300 cursor-pointer" (click)="logout()">{{user.displayName}}</a>
  </div>
</header>

<!--<app-left-side-nav></app-left-side-nav>

<app-right-side-nav [friendList]="friendList"></app-right-side-nav>-->

