<nav class="flex flex-col gap-3">
  <div class="bg-white flex flex-col gap-2 bg-opacity-80 h-96 rounded-lg p-2  overflow-auto">
    <h3 class="weight-500">Friends</h3>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
    <app-friend></app-friend>
  </div>

  <div class="bg-white bg-opacity-80 h-80 rounded-lg p-2 overflow-auto">
    <h3 class="weight-500">Today's news</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
  </div>
</nav>
