<section
  class="text-cyan-50 container bg-slate-100 bg-opacity-20 p-5 mt-4 rounded-lg post-shadow"
>
  <div class="flex flex-row justify-between items-center">
    <div class="flex gap-1 mb-2">
      <img src="../../../assets/cat.webp" alt="cat" class="profile-picture">
      <div class="flex-col">
        <p class="text-xs margin-0 font-500">{{ getUserName() }}</p>
        <p class="text-xs margin-0"> {{ post?.creationDate | date : "YYYY-MM-dd HH:mm" }}</p>
      </div>

    </div>

    <button
      *ngIf="canDelete"
      (click)="removePost()"
      matTooltip="Post törlése"
      matTooltipPosition="above"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <p class="break-words text-sm text-justify">{{ post?.message }}</p>
  <img *ngIf="post?.image" [src]="post?.image" alt="cat" class="post-picture">
</section>
