<section
  class="text-cyan-50 container bg-slate-100 bg-opacity-20 shadow-sm p-5 mt-2 rounded-lg"
>
  <div class="flex flex-row justify-between items-center">
    <span>{{ getUserName() }}</span>
    <button
      *ngIf="canDelete"
      (click)="removePost()"
      matTooltip="Post törlése"
      matTooltipPosition="above"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <p class="break-words">{{ post?.message }}</p>

  <div class="flex flex-row justify-end">
    {{ post?.creationDate | date : "YYYY-MM-dd HH:mm" }}
  </div>
  <footer>
    Hozzászólások
  </footer>
</section>
