<section class="absolute top-0 left-0 bottom-0 right-0 flex items-center justify-center">
  <div class="grid grid-cols-1 items-center justify-center sm:grid-cols-2 gap-6 p-6 bg-slate-100 backdrop-blur-sm bg-opacity-20">
      <p class="text-white text-5xl drop-shadow-xl text-center sm:text-left">LinkUp</p>
    <div class="flex flex-col gap-5 w-72">
      <form class="flex flex-col" (ngSubmit)="authenticate()" [formGroup]="authFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput autofocus formControlName="email" placeholder="E-mail">
            <mat-error *ngIf="authFormGroup.get('email')?.touched && authFormGroup.get('email')?.invalid">{{emailValidation()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="!isLogin">
            <mat-label>Username</mat-label>
            <input type="text" matInput  formControlName="username" placeholder="Username">
            <mat-error *ngIf="authFormGroup.get('username')?.touched && authFormGroup.get('username')?.invalid">Username must be provided</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput  formControlName="password" placeholder="Password">
            <mat-error *ngIf="authFormGroup.get('password')?.touched && authFormGroup.get('password')?.invalid">{{passwordValidation()}}</mat-error>
          </mat-form-field>

        <button [disabled]="checkDisabled()" class="bg-sky-600" mat-raised-button>{{isLogin ? 'Login' : 'Sign Up'}}</button>
      </form>
      <hr>
      <button class="bg-green-600" mat-raised-button (click)="switchMode()">{{!isLogin ? 'Login' : 'Sign Up'}}</button>
    </div>
  </div>
</section>
