
<form [formGroup]="newPostForm" (ngSubmit)="onNewPost()"
      class="bg-slate-400 border-2 p-3 sticky top-14  rounded-lg shadow-xl flex justify-between items-center gap-2">
      <img src="../../../assets/cat.webp" alt="cat" class="profile-picture h-w-40">
      <input class="p-2 flex-1 rounded-full hover:shadow-xl" formControlName="message" placeholder="Mi jár a fejedben...">
      <button [disabled]="!newPostForm.valid" class="bg-sky-600" mat-raised-button type="submit">Mentés</button>
</form>

