<nav class="flex flex-col gap-3">
  <div class="bg-white bg-opacity-80 rounded-lg p-2 flex flex-col items-center relative">
    <img class="side-nav-cover" src="assets/thumb-1920-458169.jpg" alt="sidenav-cover">

    <img class="side-nav-profile" src="assets/cat.webp" alt="sidenav-profile">

    <h3 class="font-medium">Teszt User</h3>
    <p>Ez itt a profilnak a részletesebb leírása</p>

    <div class="grid grid-cols-3 gap-3">
      <div>256 bejegyzés</div>
      <div>2.5k követő</div>
      <div>413 követés</div>
    </div>


  </div>

</nav>
