<nav class="flex flex-col gap-3">
  <div class="bg-white bg-opacity-80 rounded-lg p-2 flex flex-col items-center relative">
    <img class="side-nav-cover" src="assets/thumb-1920-458169.jpg" alt="sidenav-cover">

    <img class="side-nav-profile" src="assets/cat.webp" alt="sidenav-profile">

    <h3 class="weight-500 text-center">{{user?.displayName}}</h3>
    <p class="text-center">This is some example description</p>

    <div class="grid grid-cols-3 gap-3 text-center">
      <div>
        <p class="margin-bottom-0 weight-500">256</p>
        <p>posts</p>
      </div>
      <div>
        <p class="margin-bottom-0 weight-500">2.5k</p>
        <p>followers</p>
      </div>
      <div>
        <p class="margin-bottom-0 weight-500">413</p>
        <p>following</p>
      </div>
    </div>
  </div>

</nav>
